{% extends "base.html" %}
{% block title %}Story Archive{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
{% endblock %}

{% block content %}
    <div class="container main-padding listing-container">
        <table class="table table-striped table-bordered table-sm" id="storyTable">
        <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Published</th>
            <th>Last Edited</th>
            <th>Ponepaste</th>
        </tr>
        </thead>
        <tbody id="storyTableBody">
        {% for story in stories %}
            <tr>
            <td>{{ story.author }}</td>
            <td><a href="{{ url_for('story.view', id=story.id) }}">{{ story.title }}</a></td>
            <td>{{ story.submission_date }}</td>
            <td>{{ story.edited_date }}</td>
            <td><a href="{{ story.ponepaste_link }}" target="_blank">{{ story.ponepaste_link }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}