{% extends "base.html" %}
{% block title %}Add Story to Archive{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="d-flex ui-box-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            Submit Story
                        </div>
                        <div class="card-body">
                            <form method="post" action="{{ url_for('story.submit') }}">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{ form.title.label() }}{{ form.title(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.author.label() }}{{ form.author(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.ponepaste_link.label() }}{{ form.ponepaste_link(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.content.label() }}{{ form.content(class="form-control content-input-box") }}
                                </div>
                                {{ form.submit(class="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                    {% if error %}
                        <span>Error: {{ error }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}