{% extends "base.html" %}
{% block title %}{{ story.title }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center min-vh-100">
        <div class="container main-padding">
            <div class="row">
                <h3>{{ story.title }} - by {{ story.author }}</h3>
            </div>
            <div class="row download-button-container">
                <a href="{{ url_for('story.download', id=story.id) }}">Download as .txt</a>
            </div>
            {% if current_user.is_authenticated %}
                <div class="row view-authed-container">
                    <a class="btn btn-warning" href="{{ url_for('story.edit', id=story.id) }}">Edit</a>
                    <form method="post" action="{{ url_for('story.delete', id=story.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-danger delete-button">Delete</button>
                    </form>
                </div>
            {% endif %}
            <div class="row story-content-container">
                <span class="story-content-color">{{ story.content }}</span>
            </div>
        </div>
    </div>
{% endblock %}

