.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.main-wrap {
    height: 100vh;
}

.main-padding {
    padding-top: 100px;
}

.listing-container {
    padding-top: 80px;
    padding-left: 0;
}

.story-content-container {
    white-space: pre-wrap;
}

.story-content-color {
    color: #b5bd68;
}

.error-image-container-padding {
    padding-top: 64px;
}

.error-image-height {
    max-height: 80vh;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.index-image {
    max-height: 86vh;
    max-width: 100%;
}

.index-container {
    height: 100%;
    margin-top: 8vh;
}

.ui-box-padding {
    padding-top: 120px;
}

.content-input-box {
    height: 300px;
}

.delete-button {
    margin-left: 25px;
}

.download-button-container {
    margin-bottom: 5px;
}

.view-authed-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }