{% extends "base.html" %}
{% block title %}403 Forbidden{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid align-items-center error-image-container-padding">
        <h2 class="text-center">Access Denied</h2>
        <img src="{{ url_for('static', filename='images/403.png') }}" alt="403" class="img-fluid mx-auto d-block error-image-height">
    </div>
{% endblock %}