{% extends "base.html" %}
{% block title %}Too many requests{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid align-items-center error-image-container-padding">
        <h2 class="text-center">Too many requests</h2>
        <img src="{{ url_for('static', filename='images/429.png') }}" alt="limited" class="img-fluid mx-auto d-block error-image-height">
        <p class="text-center">You are seeing this because you have either downloaded 25 stories in the past hour, or you have made too many requests
        to login as the administrator. Wait an hour and try again.</p>
    </div>
{% endblock %}