{% extends "base.html" %}
{% block title %}Internal Server Error{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid align-items-center error-image-container-padding">
        <h2 class="text-center">Internal Server Error</h2>
        <img src="{{ url_for('static', filename='images/500.gif') }}" alt="404" class="img-fluid mx-auto d-block error-image-height">
    </div>
{% endblock %}