{% extends "base.html" %}
{% block title %}Set Discord Link{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            Update Discord Link
                        </div>
                        <div class="card-body">
                            <form method="post" action="{{ url_for('auth.set_discord') }}">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{ form.discord_link.label() }}{{ form.discord_link(class="form-control") }}
                                </div>
                                {{ form.submit(class="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                    {% for field, errors in form.errors.items() %}
                        <div class="alert alert-error">
                            <span>Error: </span> {{ ', '.join(errors) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}