{% extends "base.html" %}
{% block title %}Thread Archive{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
{% endblock %}

{% block content %}
    <div class="container listing-container">
        <table class="table table-striped table-bordered table-sm" id="threadTable">
        <thead>
        <tr>
            <th>Number</th>
            <th>Link</th>
            {% if current_user.is_authenticated %}
                <th>Delete</th> <!-- TODO: This looks really stupid. -->
            {% endif %}
        </tr>
        </thead>
        <tbody id="threadTableBody">
        {% for thread in threads %}
            <tr>
                <td><span>{{ thread.thread_num }}</span></td>
                <td><a href="{{ thread.thread_link }}">{{ thread.thread_link }}</a></td>
                {% if current_user.is_authenticated %}
                    <td>
                        <form method="post" action="{{ url_for('thread.delete', id=thread.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
