{% extends "base.html" %}
{% block title %}Add Thread to Archive{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="d-flex ui-box-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            Add Thread
                        </div>
                        <div class="card-body">
                            <form method="post" action="{{ url_for('thread.add') }}">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{ form.number.label() }}{{ form.number(class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ form.link.label() }}{{ form.link(class="form-control") }}
                                </div>
                                {{ form.submit(class="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                    {% for field, errors in form.errors.items() %}
                        <div class="alert alert-error">
                            <span>Error: </span> {{ ', '.join(errors) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}