{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid align-self-center index-container">
        <img src="{{img}}" alt="dazzle" class="img mx-auto my-auto d-block index-image">
        <ul class="list-inline">
            <li class="list-inline-item label">Art by: </li>
            <li class="list-inline-item"><a href="https://twitter.com/mayyde">Mayde</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="https://twitter.com/Ri_Wee">Riley</a></li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><a href="https://www.deviantart.com/amazingpuffhair">AmazingPuffHair</a></li>
        </ul>
    </div>
{% endblock %}