<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-0">
    <a href="/" class="navbar-brand">
        <img src="{{ url_for('static', filename='images/banner.png') }}" height="48" alt="/dzg/">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('misc.current_thread') }}">Current Thread</a> <!-- TODO -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('misc.discord') }}">DZG Discord</a> <!-- TODO -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('story.archive') }}">Story Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('thread.archive') }}">Thread Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://ponepaste.org/">PonePaste</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle="dropdown">
                    Downloads
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="https://app.mediafire.com/ntq6y94betsbo">Mediafire Archive</a>
                    <a class="dropdown-item" href="https://mega.nz/#F!GXBEFAzb!HkLpWDYONV86FZR3dX7xKw">Mega Archive</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-auto d-none d-md-block">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle="dropdown">
                    Admin
                </a>
                {% if current_user.is_authenticated %}
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href={{ url_for('auth.logout') }}#">Logout</a>
                        <a class="dropdown-item" href="{{ url_for('auth.set_thread') }}">Set current thread</a>
                        <a class="dropdown-item" href="{{ url_for('auth.set_discord') }}">Set Discord link</a>
                        <a class="dropdown-item" href="{{ url_for('story.submit') }}">Add to story archive</a>
                        <a class="dropdown-item" href="{{ url_for('thread.add') }}">Add to thread archive</a>
                    </div>
                {% else %}
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a>
                    </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>